.div-box {
    font-size: 16px;
    font-weight: 400;
    color: rgba(242, 243, 244, 0.5);
    border: 1px solid rgba(242, 243, 244, 0.5);
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100px;
    height: 100px;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    flex-direction: column;
}

.box-container {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 20px;
        display: flex;
            flex-wrap: wrap;


}

.image {
    width: 40px;
    height: 40px;
}

